doctype html
html(lang='en')
  head
    title #{artist.name} Artworks &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text
                a(href='/artworks/#{artist.name}/') #{artist.name}
              h2.page-subtitle Artworks
              .row-fluid.content-container.dz-grid
                .span10
                  ul.thumbnails
                    each item in artworks
                      li.span4.unfloat.dz-grid-item
                        .grid-placeholder
                        a.thumbnail.hover-slider(href='/artworks/#{artist.name}/#{item.name}/')
                          .dz-grid-item-holder(style='background-image:url("#{item.image}");')
                            img(src='#{item.image}')
                            .dz-grid-item-inner.slide-up
                              h3 #{item.title}
                              p #{item.year}
          include footer
    include scripts
