doctype html
html(lang='en')
  head
    title #{title} &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text #{title}
              h2.date-subtitle #{date}
              .row-fluid.content-container.dz_image_with_content
                .span10
                  div
                    .non-dzwplb-wrapper
                      img(src='#{image}')
                    .dz-image-content
                      each line in desc
                        p
                          if(line.text ==='\r')
                            br
                          else
                            | #{line.text}
                .span2
                  .pagination.pagination-centered
          include footer
    include scripts
