doctype html
html(lang='en')
  head
    title #{artist.name} Artworks &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text
                a(href='/artworks/#{artist.name}/') #{artist.name}
              h2.page-subtitle Artworks
              .row-fluid.content-container.dz-grid
                .span10
                  ul.thumbnails
                    each item in artworks
                      li.span4.unfloat.dz-grid-item
                        .grid-placeholder
                        a.thumbnail.hover-slider(href='/data/artists/Park juhyun/artworks/#{artist.name}/#{item.name}/')
                          .dz-grid-item-holder(style='background-image:url("#{item.image}");')
                            img(src='#{item.image}')
                            .dz-grid-item-inner.slide-up
                              each desc in item.descs
                                h3 #{desc.text}
                                p #{item.year}
            .span3
              .sidebar
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='http://www.davidzwirner.com/artists/carol-bove/survey/') Artworks
          include footer
    include scripts
