doctype html
html(lang='en')
  head
    title Artwork &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text
                a(href='/artists/#{artist.name}/') #{artist.name}
              h2.page-subtitle Selected Artworks
              .row-fluid.content-container.dz_image_with_content
                .span10
                  div
                    .dzwplb-wrapper
                      img(src='/data/artists/#{artist.name}/artworks/#{artwork.name}')
                    .dz-image-content
                      each line in desc
                        p
                          | #{line.text}
                .span2
                  .pagination.pagination-centered
                    ul.non_paged_pagination
                      if artwork.prev >= 0
                        li
                          a.pagination-prev.prev-arrow(href='/artworks/#{artist.name}/#{artwork.artworks[artwork.prev].name}')
                            img(src='/themes/arrow_left.png')
                      else
                        li.disabled
                          span.prev-arrow
                            img(src='/themes/arrow_left_disabled.png')
                      if artwork.next >= 0
                        li
                          a.pagination-next.next-arrow(href='/artworks/#{artist.name}/#{artwork.artworks[artwork.next].name}')
                            img(src='/themes/arrow_right.png')
                      else
                        li.disabled
                          span.next-arrow
                            img(src='/themes/arrow_right_disabled.png')
            .span3
              .sidebar
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='/artworks/#{artist.name}') Artworks
          include footer
    include scripts