doctype html
html(lang='en')
  head
    title Past Exhibitions &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9.focus-adjust
              h1.page-title.screen-adjusting-text
                a(href='/exhibitions/past') Past Exhibitions
                form(action='/exhibitions/year', method='get')
                  select(name='yr', onchange='return this.form.submit()')
                    - var years=['2014', '2013','2012', '2011'];
                    each y in years
                      if (y === year) 
                        option(value=y, selected='selected') #{y}
                      else
                        option(value=y) #{y}
              //h2.page-subtitle.text-normal
                //| O'NewWall
              .page-subtitle &NonBreakingSpace;
              .row-fluid.content-container.exhibition-list
                
                each value, index in exhibitions
                  -if(index%2 === 0){  
                    .span11
                      .row-fluid
                        each exhibition in exhibitions.slice(index, index+2)
                          .span6.two-col-item
                            a(href='/exhibition/past/#{exhibition.year}/#{exhibition.title}', target='_self')
                              img.media-object(src='#{exhibition.image}')
                            .two-col-caption
                              dl
                                dt.text-large #{exhibition.title}
                                dd #{exhibition.date}
                  -}
              .row-fluid
                .span10
                  .pagination.pagination-centered
            include exhibitions_side
          include footer
    include scripts